@import url("https://fonts.googleapis.com/css?family=Hi+Melody|Gaegu");

body {
  background-color: #cbc5ea;
}

h1, h2, h3 {
  font-family: "Hi Melody", cursive;
}

p {
  font-family: Gaegu, cursive;
  font-size: 18px;
  font-weight: bold;
}

#content {
  background-color: white;
  max-width: 960px;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 0px 0px 20px #888888;
}

img {
  max-width: 100%;
}

header {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  background-color: #fff75c;
  padding: 10px 30px;
  height: 50px;
}

nav a {
  color: #40798c;
  font-size: 1.75em;
  font-family: "Hi Melody", cursive;
  border: 1px double black;
  padding: 10px 30%;
}

nav a:hover {
  background-color: #89D2DC;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  padding: 0 auto;
}

nav li {
  text-align: center;
}

/*Character Select Bar*/
.character-select {
  background-color: #cbc5ea;
  border: 2px solid #40798c;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  line-height: 1em;
}

.character-select h3 {
  margin-top: 5px;
  
}

.character-select ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}

.character-select li {
  text-align: center;
}

/*the profile template. It defalts to Yasashi, but changes when another character is clicked useing javascript*/
.profile {
  display: grid;
  grid-template-columns: 45% 55%;
  margin: 0 50px;
}

.chara-image {
  grid-column: 1;
  grid-row: 1/3;
  
  background-color: #40798c;
  border: 2px solid #242038;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 2em;
  line-height: 5px;
}

.basic {
  grid-column: 2;
  grid-row: 1;
  
  background-color: #01fdf6;
  border: 2px solid #40798c;
  border-radius: 10px;
  margin: 10px 30px 10px -10px;
  padding: 10px;
  line-height: 1em;
}

.origins {
  grid-column: 2;
  grid-row: 2;
  
  background-color: #fff75c;
  border: 2px solid #40798c;
  border-radius: 10px;
  margin: 10px 30px 10px -10px;
  padding: 10px;
  line-height: 1em;
}

.origins h3, .basic h3, .gallery h3 {
  font-size: 1.5em;
  color: #242038;
  border: 1px solid #242038;
  padding: 5px;
  margin: 5px;
}

.gallery {
  grid-column: 1/3;
  background-color: #40798c;
  border: 2px solid #242038;
  border-radius: 10px;
  margin: 10px 30px;
  padding: 10px;
  line-height: 1em;
}

.gallery ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  
}

footer {
  display: grid;
  grid-template-columns: auto 200px;
  background-color: #fff75c;
  margin-top: 50px;
  padding: 10px;
}

.social {
  grid-column: 2/3;
  grid-row: 1;
}

footer p, footer a {
  grid-column: 1/2;
  grid-row: 1;
}
