/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #cbc5ea;
}

#content {
  background-color: white;
  max-width: 950
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}

.logo-box {
  background-color: #89D2DC;
  display: inline-block;
  margin-bottom: 0px;
  margin-right: 0px;
}

header {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  background-color: #3A3F55;
}

nav a {
  color: #FAD6C6;
  font-size: 1.1em;
  font-family: ubuntu, sans-serif;
}

nav a:hover {
  color: #3A3F55;
  background-color: #89D2DC;
}

 nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
}

nav li {
  text-align: center;
}
