/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #cbc5ea;
}

#content {
  background-color: white;
  max-width: 960px;
  margin: 0 auto;
  padding: 5px;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}

.logo {
  max-width: 100%;
}

header {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  background-color: #fff75c;
  padding: 10px;
  
  height: 50px;
}

nav a {
  color: #FAD6C6;
  font-size: 1.1em;
  font-family: ubuntu, sans-serif;
}

nav a:hover {
  color: #3A3F55;
  background-color: #89D2DC;
}

 nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
}

nav li {
  text-align: center;
}
